<html>

<head>
<link rel = "stylesheet" href = "app/assets/stylesheets/application.css">
</head>

<body>
<center> 
<h1> HOME PAGE </h1>
<button onclick = "support()"> Customer Support </button> 
<a href = "/demo"> Demo </a>
</center>

<script>
function support()
{
    location.href = "customer_support.html.erb";
}
</script>

</body>
</html>